@charset "UTF-8";

@media (max-width: 1200px) {
    .saldo {
        flex: 1 1 100%;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: auto;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }

    .person {
        padding: 0;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 30px;
    }

    .texto-menu {
        display: none;
    }

    .card {
        font-size: 15px;
    }
}
