@charset "UTF-8";

@media (max-width: 1200px) {
    .saldo {
        flex: 1 1 100%;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: auto;
    }

    .card {
        font-size: 15px;
    }
    
    .cards {
        flex-direction: column;
    }

    h2 {
        font-size: 20px;
    }    
}

